@use "./../mixin/" as *;

.preloader {
  position: fixed;
  z-index: 100000;
  inset: 0;
  background-color: var(--white-1);
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: start;
}
.preloader__laoding {
}
.preloader__text {
}
.preloader__assets {
  display: none;
  opacity: 0;
}
